body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #e0f7fa;
}

.container {
    margin-top: 100px;
}

h1 {
    color: #00796b;
    font-size: 24px;
}

button {
    padding: 10px;
    font-size: 16px;
    margin-top: 20px;
    background-color: #00796b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #004d40;
}

.hidden {
    display: none;
}

#fieldsContainer {
    margin-top: 20px;
}

#fieldsContainer input {
    display: block;
    margin: 10px auto;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #00796b;
    border-radius: 5px;
    width: 300px;
}

#singlePlayerFields, #twoPlayerFields {
    margin-top: 10px;
}